{% extends "base.html" %}

{% block content %}
<h1>Регистрация</h1>
<form action="" method="post">
    {{ form.hidden_tag() }}
    {{ form.csrf_token }}

    <p>
        {{ form.title.label }}<br>
        {{ form.title(class="form-control") }}<br>
        {% for error in form.title.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>

    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    {{message}}
</form>
{% endblock %}