{% extends "base.html" %}

{% block content %}
{% if title == 'Добавление дома' %}
<h1>Создание умного дома</h1>
{% elif title == 'Редактирование дома' %}
<h1>Редактирование умного дома</h1>
{% endif %}
<form action="" method="post">
    {{ form.hidden_tag() }}
    {{ form.csrf_token }}
    {% for field in form if field.name not in ['csrf_token', 'submit']%}
        <p>
            {{ field.label }}<br>
            {{ field(class="form-control") }}<br>
            {% for error in field.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
        </p>
    {% endfor %}
    <br>
    <a>{{ form.submit(type="submit", class="btn btn-primary") }}</a>
    {% if title == 'Редактирование дома' %}
    <a class="btn btn-secondary" href="/logout_house">Выйти из умного дома</a>
    {% endif %}
    {{message}}
</form>
{% endblock %}
