{% extends "base.html" %}

{% block content %}
	{% if current_user.is_authenticated %}
		<h1>Модули умного дома</h1>
		<p>
			<a href="/add_switch" type="button" class="btn btn-info">Добавить новый модуль</a>
		</p>
		{% for switch in switches%}
			<br>
			<div class="col-md6 border rounded">
				<h2>{{switch.title}}</h2>
				<div>
					{% if switch.status %}
						Включен
					{% else %}
						Выключен
					{% endif %}
				</div>
			</div><br>
			{% if current_user in switch.editors or not switch.editors %}
				<div style="float: right;">
					<a href="/edit_switch/{{ switch.id }}" class="btn btn-secondary">Редактировать</a>
					<a href="/delete_switch/{{ switch.id }}" class="btn btn-danger">Удалить</a>
				</div>
			{% endif %}
			{% if current_user in switch.users or not switch.users %}
				<div style="float: left">
					<a href="/set_switch/{{ switch.id }}/1" class="btn btn-warning">Включить</a>
					<a href="/set_switch/{{ switch.id }}/0" class="btn btn-danger">Выключить</a>
				</div>
			{% endif %}
		{% endfor %}
	{% else %}
		<h1>Для доступа к умному дому необходима авторизация</h1>
	{% endif %}

{% endblock %}
