{% extends "base.html" %}

{% block content %}
	{% if current_user.is_authenticated %}
		<h1>{% if type=='switch' %}Модули{% else %}Группы модулей{% endif %} умного дома</h1>
		<p>
			<a href="/add_{% if type=='switch' %}switch{% else %}group{% endif %}" type="button" class="btn btn-info">Добавить</a>
		</p>
		{% for item in items %}
			<br>
			<div class="col-md6 border rounded">
				<h2>{{item.title}}</h2>
				<div>
					{% if item.status %}
						Включен
					{% else %}
						Выключен
					{% endif %}
				</div>
			</div><br>
			{% if current_user in item.editors or not item.editors %}
				<div style="float: right;">
					<a href="/edit_{% if type=='switch' %}switch{% else %}group{% endif %}/{{ item.id }}" class="btn btn-warning">Редактировать</a>
					<a href="/delete_{% if type=='switch' %}switch{% else %}group{% endif %}/{{ item.id }}" class="btn btn-outline-danger">Удалить</a>
				</div>
			{% endif %}
			{% if current_user in item.users or not item.users %}
				<div style="float: left">
					<a href="/set_{% if type=='switch' %}switch{% else %}group{% endif %}/{{ item.id }}/1" class="btn btn-success">Включить</a>
					<a href="/set_{% if type=='switch' %}switch{% else %}group{% endif %}/{{ item.id }}/0" class="btn btn-danger">Выключить</a>
				</div>
			{% endif %}
			<br>
		{% endfor %}
	{% else %}
		<h1>Для доступа к умному дому необходима авторизация</h1>
		<h4 align="center">Autodeployed successfully</h4>
	{% endif %}

{% endblock %}
